:root {
    --main: #F8F5F5;
    --accent: #CC0000;
    --black: #060B0E;
    --text: #060B0E;
  }


.hero {
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 100%;
    background-color: var(--main); /* Replace with vector bg later */
    /* background-image: url("../images/hero-background.png"); */
    color: var(--text);    
}

.link {
    color: var(--accent);
}

.link-click {
    text-decoration: none;
    position: relative;
}
  
.link-click:hover {
    text-decoration: underline;
    color: var(--accent);
    /* Make the link darker/lighter? to indicate hover */
}