:root {
    --main: #F8F5F5;
    --accent: #E05600;
    --black: #060B0E;
    --text: #060B0E;
  }


.acontainer {
    width: 100%;
    background-color: var(--main);
}

.all {
    padding-top: 10px;
    padding-right: 3rem;
    font-family: Unica;
    font-size: 1.7rem;    
}

.navbar-item {
    margin-left: 2rem;
    margin-right: 2rem;
}

.navbar-link {
    color: var(--text);
    text-decoration: none;
}

.nav-click {
    text-decoration: none;
    position: relative;
}
  
.nav-click:hover {
    text-decoration: none;
    color: var(--accent);
    /* Make the link darker/lighter? to indicate hover */
}