:root {
    --main: #F8F5F5;
    --accent: #CC0000; /* #E05600; old color */
    --black: #060B0E;
    --text: #060B0E;
  }


.acontainer {
    width: 100%;
    background-color: var(--main);
}

.all {
    padding-top: 10px;
    padding-right: 1rem;
    font-family: Unica;
    font-size: 1.7rem;  
    background-color: var(--main);  
    
}

.navbar-item {
    margin-left: 2rem;
    margin-right: 2rem;
}

.navbar-link {
    color: var(--text);
    text-decoration: none;
}

.nav-click {
    text-decoration: none;
    position: relative;
}
  
.nav-click:hover {
    text-decoration: none;
    color: var(--accent);
    /* Make the link darker/lighter? to indicate hover */
}